# =========================
# NEXT.JS
# =========================

/.next/
/out/
/build/

# Dependencies
/node_modules

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage
/coverage

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
backend/venv/
backend/.venv/

# =========================
# BACKEND FILES
# =========================

backend/uploads/

# =========================
# ENVIRONMENT VARIABLES
# =========================

.env
.env.*
!.env.example

# =========================
# VERCEL
# =========================

.vercel

# =========================
# LOG FILES
# =========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# YARN
# =========================

.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# CERTIFICATES / KEYS
# =========================

*.pem

# =========================
# IDE FILES
# =========================

.vscode/
.idea/